{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.article_details'|trans({'%id%': article.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ article.title({'%id%': article.id|default('')}) }}</h1>
    {% if article is defined and article|length %}

        <div class="show_container">
            <div style="margin-left: 10%; margin-right: 10%;">
                {{ article.news|markdown_to_html }}
            </div>

            <p>{{ 'label.created_at'|trans }}:&emsp;{{ article.createdAt|format_date('long') }} </p>

            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  article.category.title }}</dd>
            <dt>{{ 'label.tag'|trans}}</dt>
            <div class="tag_in_show">
                {% for tag in article.tags %}
                    {{tag.title}}
                {% endfor %}
            </div>

        <h3 style="margin: 50px auto 0 auto;">{{ 'title.comment_list'|trans }}</h3>
        {% if commentPagination is defined and commentPagination.items|length %}

            <div class="navigation text-center">
                {{ knp_pagination_render(commentPagination) }}
            </div>

            <table class="table table-striped" style="width: 60%; margin: 30px auto 30px auto;">
                <thead>
                <tr>
                    <th style="width: 15%;">{{ knp_pagination_sortable(commentPagination, 'label.created_at'|trans, 'comment.createdAt') }}</th>
                    <th style="width: 35%;">{{ knp_pagination_sortable(commentPagination, 'label.nick'|trans, 'comment.nick') }}</th>
                    <th>{{ knp_pagination_sortable(commentPagination, 'label.content'|trans, 'comment.content') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in commentPagination.items %}
                    <tr>
                        <td>{{ comment.createdAt|format_date('long') }}</td>
                        <td>{{ comment.nick }}</td>
                        <td>{{ comment.content }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(commentPagination) }}
            </div>

        {% else %}
            <p>
                {{ 'message.record_not_found'|trans }}
            </p>


        {% endif %}

        <p>
            <a class="btn btn-outline-primary coment-btn" href="{{ url('comment_create', {id: article.id}) }}" title="{{ 'action.comment_create'|trans }}">
                {{ 'action.comment_create'|trans }}
            </a>
        </p>

        <p style="text-align: center; margin: 20px;">
            <a href="{{ url('article_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}

        </div>


{% endblock %}